h1 {
  color: white;
}

.container {

  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  align-items: center;


}

.btn {
  font-size:30px;
  /* padding: 20px; */
  width: 20%;
  background-color: #4ECDC4;
  color: black;
  border-radius: 25px;
  height: 50px;
}

.step,.count {
  width: 30%;
  color: #F7FFF7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;

}
.desc{
  color:#F7FFF7 ;
}
.spans{
  color: #4ECDC4;
}

@media(min-width:767px) and (max-width:1026px){
  .container{
    height: 60vh;
  }
  .step,.count{
    width: 80%;
  }
  .desc{
    text-align: center;
  }

}
@media(max-width:540px){
.step,.count{
  width: 80%;
}
.desc{
  text-align: center;
}
}